<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    <h1><center>Dream Log</center></h1>
    <div>
    <p>Today's Date:</p>
    <form name="myform" method="post" onsubmit="return validateform()" >
        Start Time :<input type='time' name='stime'/><br><br>
        End Time :<input type='time' name='etime'/><br><br>
        <label><b>Enter the Log :</b></label>
            <br>
        <textarea id="log" name="log" rows="20" cols="100"></textarea>
        <br><br>

        <input type="submit" value="Save"/><br><br>
        <input type="reset" value="clear"/><br><br>
        </form></div>
</body>
</html>